doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        script(src="javascripts/jquery.min.js")
        script(src="javascripts/angular.min.js")



    body(ng-app="pupilApp")
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    a(href="#" class="navbar-brand") Сортировщик


        div(style="padding-top: 60px")
            block content
        script(src="javascripts/app.js")
        script(src="javascripts/ctrl.js")
        script(src="javascripts/model.js")
